@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to cd collection</h1>
    <p>This is a MVC-project that use Entity Framework</p>
    </div>
    <div class="how-list"> 
    <h2 class="text-center">What can you do?</h2>
   <ul>
    <li>You can add an artist</li>
    <li>Add the albums that the artist has made</li>
    <li>You can then handle rentals of albums and assign the date which it will be returned</li>
    </ul>
    </div>

